<a routerLink="/articles" >List Articles</a>
<form id="formCreation" #formCreation="ngForm">
  <p>Create your article:</p>
  <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
    <div class="form-group">
      <label class="center-block">title:
        <input class="form-control" formControlName="title">
      </label>
      <br />
      <label class="center-block">content:
        <textarea class="form-control" formControlName="content"></textarea>
      </label>
      <br />
      <label class="center-block">authors:
        <input class="form-control" formControlName="authors">
      </label>
      <br />
      <!--button class="btn btn-success" [disabled]="articleForm.invalid" type="submit">Save</button -->
      <button type="button" id="submitCreation" (click)="onSubmitNewArticle(formCreation)">Save</button>
   </div>
</form>